.cards {
  width: 880px;
  margin: 50px auto 0;
}

.cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards__item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.cards__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
}

.cards__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title-group {
  margin: 0;
  font-family: "Inter", sans-serif;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.cards__like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.cards__like-button:hover {
  opacity: 1;
}

.cards__like-icon {
  width: 22px;
  height: 19px;
}
/* Hover gris si NO está activo */
.cards__like-button:hover .cards__like-icon[data-active="false"] {
  content: url("../images/coragris.svg");
}

/* Estado base: siempre negro */
.cards__like-icon {
  transition: opacity 0.2s ease, filter 0.2s ease;
}

/* Hover: se vuelve gris sin importar si está activo o no */
.cards__like-button:hover .cards__like-icon {
  filter: grayscale(100%) brightness(0.7);
}

@media screen and (max-width: 480px) {
  .cards__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .cards__image {
    height: 280px;
  }

  .card__title-group {
    margin-top: 12px;
  }

  .card__title {
    font-size: 18px;
  }

  .cards__like-button img {
    width: 20px;
  }
}
