.page {
  font-family: "Inter", Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media (min-width: 1280px) {
  .page {
    padding-left: calc((100vw - 880px) / 2);
    padding-right: calc((100vw - 880px) / 2);
  }
}
