/* --- PERFIL --- */

.profile {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}

/* Avatar */
.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

/* Info */
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__name {
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  margin: 0;
}

.profile__about {
  color: #fff;
  font-size: 18px;
  margin: 5px 0 0;
}

.profile__edit-button {
  width: 24px;
  height: 24px;

  background-color: transparent; /* ❗Figma: fondo negro */
  border: 1px solid #fff; /* borde blanco */
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  padding: 0;
}
.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-button:active {
  opacity: 0.3;
}

.profile__edit-icon {
  width: 10px;
  height: 10px;
  object-fit: contain;
}

/* --- BOTÓN AGREGAR (+) como referencia --- */
.profile__add-button {
  margin-left: auto;
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
  }

  .profile__info {
    align-items: center;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__about {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .profile__edit-button {
    transform: scale(0.8);
  }

  .profile__add-button {
    width: 100%;
    height: 50px;
  }
}
