.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 0;
}

.header__logo {
  width: 173px;
}

.header__line {
  width: 100%;
  height: 1px;
  background-color: rgba(84, 84, 84, 0.7);
  margin-top: 41px;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 28px 0 0;
  }

  .header__logo {
    width: 126px;
    padding-left: 27px;
  }

  .header__line {
    margin-top: 32px;
  }
}
