.footer {
  max-width: 880px;
  margin: 60px auto;
  padding: 0 20px;
}

.footer__text {
  color: #545454;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .footer__text {
    text-align: center;
    font-size: 14px;
  }
}
