.footer {
  width: 100%;
  max-width: 880px;
  margin: 68px auto 0;
}

.footer__text {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer__text {
    font-size: 12px;
  }
}
